html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 390px;
}
@media (min-width: 768px) {
  body {
    padding-bottom: 312px;
  }
}
@media (min-width: 992px) {
  body {
    padding-bottom: 347px;
  }
}
header {
  background: #fff;
  border-top: 5px solid #005ca3;
  border-bottom: 1px solid  #ededf3;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
section {
  margin-top: 58px;
}
section:before,
section:after {
  clear: both;
  display: table;
  content: '';
}
@media (min-width: 992px) {
  section {
    margin-top: 128px;
  }
}
footer {
  background: #e0e0e8;
  height: 390px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 768px) {
  footer {
    height: 312px;
  }
}
@media (min-width: 992px) {
  footer {
    height: 347px;
  }
}
.navbar-brand {
  padding: 5px 15px;
  display: block;
}
.navbar-brand img {
  width: 100%;
  max-width: 150px;
}
@media (min-width: 992px) {
  .navbar-brand img {
    max-width: 200px;
  }
}
@media (min-width: 1200px) {
  .navbar-brand img {
    max-width: 240px;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    padding: 40px 0;
  }
}
.container > .navbar-collapse {
  border-top: 1px solid #ededf3;
}
@media (min-width: 992px) {
  .container > .navbar-collapse {
    border: none;
    float: left;
    margin-left: 45px;
  }
}
.navbar .container {
  position: relative;
}
.navbar-toggle .icon-bar {
  background: #005b9d;
}
.navbar-search {
  display: block;
  color: #005b9d !important;
  font-size: 14px;
  padding: 8px 0;
  border-radius: 50%;
  box-shadow: inset 0 0 5px #a9adb4;
  position: relative;
  width: 39px;
  height: 39px;
  text-align: center;
  margin: 5px auto 0;
}
@media (min-width: 992px) {
  .navbar-search {
    margin: 15px auto 0;
  }
}
.navbar-search:before {
  left: 60px;
  top: 15px;
}
.navbar-search:after {
  top: 15px;
  right: 60px;
}
.navbar-search:before,
.navbar-search:after {
  content: '';
  border-top: 1px solid #d2d5db;
  border-bottom: 1px solid #d2d5db;
  position: absolute;
  display: block;
  width: 100px;
  height: 6px;
}
@media (min-width: 992px) {
  .navbar-search:before,
  .navbar-search:after {
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .navbar-search:before,
  .navbar-search:after {
    width: 242px;
  }
}
.navbar-nav {
  display: inline-block;
  padding: 10px 15px;
  list-style: none;
}
@media (min-width: 992px) {
  .navbar-nav {
    padding: 10px 0;
    float: none;
  }
}
.navbar-nav > li > a {
  color: #333;
  display: inline-block;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  list-style: none;
  padding: 5px;
  text-decoration: none !important;
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
    padding: 0 5px;
  }
}
@media (min-width: 1200px) {
  .navbar-nav > li > a {
    font-size: 18px;
    padding: 0 8px;
  }
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
  color: #005b9d;
}
.navbar-right {
  text-align: right;
  width: 210px;
}
.navbar-phone {
  color: #000 !important;
  display: inline-block;
  padding: 15px 0 10px;
  text-decoration: none !important;
}
@media (max-width: 991px) {
  .navbar-phone {
    position: absolute;
    right: 70px;
    top: 0;
  }
}
.navbar-phone .fa-phone {
  color: #005b9d;
  font-size: 22px;
}
@media (min-width: 992px) {
  .navbar-phone .fa-phone {
    display: none;
  }
}
.navbar-phone span {
  display: none;
  font-size: 20px;
  font-family: "Segoe UI";
  font-weight: 400;
}
@media (min-width: 992px) {
  .navbar-phone span {
    display: block;
  }
}
@media (min-width: 1200px) {
  .navbar-phone span {
    font-size: 24px;
  }
}
.navbar-callback {
  border-radius: 25px;
  box-shadow: inset 0 0 5px #a9adb4;
  display: none;
  font-family: "Segoe UI";
  font-weight: 300;
  height: 33px;
  width: 188px;
  text-decoration: none !important;
  outline: none !important;
}
@media (min-width: 992px) {
  .navbar-callback {
    display: inline-block;
  }
}
.navbar-callback .fa-phone {
  color: #005b9d !important;
  float: left;
  display: block;
  margin: 7px 0 0 12px;
  padding-left: 10px;
  border-left: 1px solid #d7d9df;
  font-size: 21px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.navbar-callback span {
  color: #000 !important;
  font-size: 17px;
  padding: 3px 8px;
  display: block;
  float: left;
}
.blue-stripe {
  background: #005b9d;
  width: 100%;
  min-height: 1px;
}
.grey-stripe {
  float: left;
  background: #e0e0e8;
  width: 100%;
}
@media (max-width: 991px) {
  .navbar {
    margin-bottom: 0;
  }
}
.main-title {
  color: #fff;
  float: left;
  font-family: "Segoe UI", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0.6em 20px 0.87em;
  width: 80%;
}
@media (min-width: 992px) {
  .main-title {
    font-size: 48px;
    margin: 0.6em 0 0.87em;
  }
}
.main-title-img {
  display: none;
  margin: 5px 20px 0;
  float: right;
  width: 45px;
}
@media (min-width: 768px) {
  .main-title-img {
    display: block;
  }
}
@media (min-width: 992px) {
  .main-title-img {
    margin-top: 15px;
    width: 87px;
  }
}
.main-title-text {
  padding: 20px 15px 30px;
}
@media (min-width: 992px) {
  .main-title-text {
    padding: 40px 15px 50px;
  }
}
.service {
  margin-right: -5px;
  margin-left: -5px;
}
.service .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.service__col {
  background: linear-gradient(to bottom, #f1f0f5, #e0e0e8);
  display: block;
  float: left;
  font-family: "Segoe UI";
  color: #000 !important;
  width: 100%;
  position: relative;
  height: 216px;
  text-align: center;
  margin-bottom: 35px;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .service__col {
    height: 236px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .service__col {
    height: 216px;
  }
}
.service__ico {
  background: #666;
  border-radius: 50%;
  display: block;
  margin: 22px auto 18px;
  width: 86px;
  height: 86px;
  background-size: 86px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.service__ico:hover {
  background-position: center top;
}
.service__hr {
  display: block;
  margin: 0 10px;
  padding: 0;
  border-bottom: 4px double #000;
}
.service__title {
  display: block;
  font-size: 16px;
  padding: 14px 20px 0;
}
.chevron-wrap {
  width: 82px;
  display: block;
  margin: 5px auto 30px;
}
@media (min-width: 768px) {
  .chevron-wrap {
    margin: 5px auto;
  }
}
.chevron-top {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: -22px;
  z-index: 1;
  height: 1px;
  width: 82px;
}
.chevron-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #e0e0e8;
  -webkit-transform: skew(0deg, 11deg);
      -ms-transform: skew(0deg, 11deg);
          transform: skew(0deg, 11deg);
}
.chevron-top:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #e0e0e8;
  -webkit-transform: skew(0deg, -11deg);
      -ms-transform: skew(0deg, -11deg);
          transform: skew(0deg, -11deg);
}
.chevron {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  height: 1px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #005b9d;
  -webkit-transform: skew(0deg, 15deg);
      -ms-transform: skew(0deg, 15deg);
          transform: skew(0deg, 15deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #005b9d;
  -webkit-transform: skew(0deg, -15deg);
      -ms-transform: skew(0deg, -15deg);
          transform: skew(0deg, -15deg);
}
.popular .row {
  margin-right: -5px;
  margin-left: -5px;
}
.popular .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.popular__col {
  background: linear-gradient(to bottom, #f1f0f5, #e0e0e8);
  display: block;
  float: left;
  font-family: "Segoe UI";
  color: #000 !important;
  width: 100%;
  position: relative;
  height: 102px;
  text-align: left;
  margin-bottom: 30px;
  text-decoration: none !important;
}
.popular__col:hover {
  background: linear-gradient(to bottom, #eeebf2, #b3b7c6);
}
@media (min-width: 768px) {
  .popular__col {
    height: 142px;
  }
}
@media (min-width: 1200px) {
  .popular__col {
    height: 102px;
    margin-bottom: 55px;
  }
}
.popular__title {
  float: left;
  display: block;
  font-size: 16px;
  padding: 20px 0px 0 20px;
  width: 65%;
}
@media (min-width: 992px) {
  .popular__title {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .popular__title {
    width: 65%;
  }
}
.popular__ico {
  background: #666;
  border-radius: 50%;
  display: block;
  float: right;
  margin: 18px 20px 18px 0;
  width: 64px;
  height: 64px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.popular__ico:hover {
  background-position: center top;
}
.popular__h2 {
  color: #000;
  font-weight: 300;
  font-family: "Segoe UI";
  text-align: center;
  margin: 0.7em 0;
  font-size: 22px;
}
@media (min-width: 992px) {
  .popular__h2 {
    font-size: 40px;
  }
}
.popular__hr {
  margin: 0 0;
  padding: 0;
  border-bottom: 4px double #000;
}
.popular__show {
  color: #000 !important;
  display: block;
  font-size: 16px;
  width: 100px;
  margin: 1.2em auto 1.7em;
}
.ask {
  background: #fff;
  float: left;
  width: 100%;
}
.ask__h2 {
  color: #000;
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 300;
  margin: 0.8em 0 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .ask__h2 {
    font-size: 40px;
  }
}
.ask .chevron-top:after,
.ask .chevron-top:before {
  background: #fff;
}
.ask-form__wrap {
  width: 100%;
  margin-bottom: 50px;
}
.ask-form__wrap:before,
.ask-form__wrap:after {
  clear: both;
  display: table;
  content: '';
}
@media (min-width: 768px) {
  .ask-form__wrap {
    width: 380px;
    margin: 50px auto;
  }
}
.ask-form__input {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  margin: 0px auto 15px auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 12px;
  width: 220px;
  outline: none;
  height: 28px;
  padding: 4px 6px;
  line-height: 18px;
  color: #555;
}
.ask-form__input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ask-form__textarea {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  margin: 0px auto 15px auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #555;
  font-size: 12px;
  padding: 6px 6px 7px 6px;
  width: 100%;
  height: 200px;
  line-height: 15px;
  resize: none;
  outline: none;
}
.ask-form__textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ask-form__file {
  float: left;
  background: url(../images/attachfile.png) no-repeat;
  width: 159px;
  height: 33px;
  text-indent: -9999px;
  font-size: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px !important;
  outline: none !important;
  cursor: pointer;
  margin: 0px !important;
}
.ask-form__filename {
  display: block;
  font-size: 18px;
  margin: 5px 10px 0;
  float: left;
  width: auto;
}
.ask-form__submit {
  float: right;
  background-image: none;
  color: #fff;
  background-color: #a2aec2;
  border: 0px;
  border-radius: 20px;
  padding: 6px 30px 7px;
  font-weight: lighter;
  font-size: 18px;
  text-shadow: none;
  outline: none;
}
.footer__top {
  background: transparent;
  padding: 20px 0;
}
.footer__bottom {
  background: #9b9faa;
  min-height: 100px;
  padding: 20px 0;
}
.footer__link {
  display: block;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer__link {
    margin-left: 192px;
  }
}
.footer__link:first-child {
  margin-left: 0;
}
.footer__link:first-child img {
  width: 100%;
  max-width: 462px;
}
.footer__link .jurlogo {
  width: 100%;
  max-width: 202px;
}
.footer__link .auditlogo {
  width: 100%;
  max-width: 222px;
}
.footer__link .businesslogo {
  width: 100%;
  max-width: 163px;
}
.footer__phone,
.footer__mailto {
  display: block;
  color: #565655 !important;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none !important;
}
.footer__phone {
  padding: 20px 0 5px;
}
@media (min-width: 768px) {
  .footer__wrap {
    float: right;
  }
}
.footer__text {
  color: #666;
  font-size: 16px;
}
.footer__text a {
  color: #333;
}
.prod {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.prod__title {
  color: #333;
  font-size: 14px;
  padding: 20px 0 20px;
}
@media (min-width: 992px) {
  .prod__title {
    font-size: 18px;
    padding: 30px 0 30px;
  }
}
.prod__content {
  font-size: 14px;
  padding: 0 0 10px;
}
.prod__content:before,
.prod__content:after {
  clear: both;
  display: table;
  content: '';
}
@media (min-width: 992px) {
  .prod__content {
    font-size: 18px;
    padding: 0 5px 30px;
  }
}
.prod__add-bar {
  background: #d2d5db;
  border-radius: 30px;
  height: 30px;
  width: 280px;
  padding: 5px 13px;
  margin-top: 30px;
}
.prod__add-bar + .prod__add-bar {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .prod__add-bar {
    width: 309px;
  }
}
.prod__add-filename {
  display: inline-block;
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 400;
  margin: 27px 0;
  padding: 0 10px;
}
.prod__add-size {
  font-size: 14px;
  font-family: "Segoe UI";
  font-style: normal;
  float: left;
  font-weight: 300;
  display: inline-block;
  line-height: 22px;
  padding: 0 5px;
}
.prod__add-name {
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 400;
  float: left;
  display: inline-block;
  line-height: 22px;
}
.prod__add-remove {
  color: #000 !important;
  float: right;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none !important;
}
.prod .ask-form__file {
  margin: 20px 0 !important;
}
.prod .container {
  position: relative;
}
.prod-order {
  border-top: 2px solid #3a86c2;
  float: left;
  width: 100%;
}
.prod-order__total {
  color: #005b9d;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  margin: 25px 0;
  max-width: 70%;
}
@media (min-width: 768px) {
  .prod-order__total {
    margin: 35px 0;
  }
}
.prod-order__cost {
  color: #005b9d;
  display: inline-block;
  float: right;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  margin: 25px 0;
}
@media (min-width: 768px) {
  .prod-order__cost {
    margin: 35px 0;
  }
}
.prod-order__btn {
  display: block;
  width: 220px;
  height: 36px;
  background: #a2aec2;
  box-shadow: inset 0 0 5px #a9adb4;
  border: 1px solid #a9b2bf;
  outline: none;
  color: #fff;
  border-radius: 30px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
  margin: 0 auto 30px;
}
.prod-order__btn:hover {
  background: #8393ae;
}
@media (min-width: 768px) {
  .prod-order__btn {
    margin: 0 0 40px;
    font-size: 24px;
    padding-bottom: 5px;
    width: 268px;
    height: 41px;
  }
}
.aside {
  display: none;
  background: #fff;
  border-right: 1px solid #d7d7d7;
  padding: 10px 15px 20px;
  position: fixed;
  top: 58px;
  left: -200%;
  z-index: 1;
  overflow: scroll;
}
@media (min-width: 768px) {
  .aside {
    display: block;
    left: 0;
    top: 0;
    overflow: visible;
    position: relative;
  }
}
@media (min-width: 992px) {
  .aside {
    padding: 20px 0px 50px;
  }
}
.aside__header {
  padding: 10px 0;
}
.aside__content {
  margin: 0 10px 0 -10px;
}
.aside__title {
  color: #989898;
  font-size: 14px;
}
@media (min-width: 992px) {
  .aside__title {
    font-size: 18px;
  }
}
.aside__backtolist {
  color: #a2aec2;
  float: right;
  font-size: 10px;
  padding: 3px 0px;
}
@media (min-width: 992px) {
  .aside__backtolist {
    font-size: 12px;
    padding: 5px 15px;
  }
}
.aside__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.aside__item {
  padding: 0;
}
@media (min-width: 992px) {
  .aside__item {
    padding: 4px 0;
  }
}
.aside__item a {
  color: #474747;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .aside__item a {
    font-size: 16px;
  }
}
.aside__item.active a {
  background: #efefef;
  color: #005b9d;
  font-weight: 600;
  text-decoration: none;
}
.cart-fixed {
  background: #e3e3e3;
  position: fixed;
  top: 30%;
  right: -150px;
  overflow: hidden;
  height: 45px;
  width: 210px;
}
.cart-fixed__header {
  cursor: pointer;
  background: #005b9d;
  color: #fff;
  height: 45px;
  padding: 15px;
  position: relative;
}
.cart-fixed__header i {
  display: inline-block;
  font-size: 26px;
  margin-top: -5px;
}
.cart-fixed__header span {
  font-size: 12px;
  position: absolute;
  display: block;
  top: 3px;
  left: 46px;
}
.cart-fixed__content {
  padding: 0px 10px;
}
.cart-fixed__content:before,
.cart-fixed__content:after {
  clear: both;
  display: table;
  content: '';
}
.cart-fixed__row {
  width: 100%;
  height: 40px;
}
.cart-fixed__row i {
  color: #005b9d;
  font-size: 20px;
  float: left;
  margin: 10px 5px;
}
.cart-fixed__row span {
  color: #000;
  font-family: 'Open Sans';
  font-size: 14px;
  display: block;
  float: left;
  margin: 10px 3px;
  max-width: 80%;
}
.cart-fixed__order {
  border-top: 2px solid #005b9d;
  color: #005b9d;
  font-size: 14px;
  margin: 0 15px;
}
.cart-fixed__btn {
  display: block;
  width: 100%;
  height: 36px;
  background: #a2aec2;
  box-shadow: inset 0 0 5px #a9adb4;
  border: 1px solid #a9b2bf;
  outline: none;
  color: #fff;
  border-radius: 30px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  margin: 5px 0 12px;
}
.cart-fixed__btn:hover {
  background: #8393ae;
}
.cart-fixed__total {
  font-weight: 600;
  display: inline-block;
  margin: 5px 0;
}
.cart-fixed__cost {
  font-weight: 600;
  display: inline-block;
  float: right;
  margin: 5px 0;
}
.left-menu-btn {
  color: #fff !important;
  cursor: pointer;
  display: block;
  background: #005b9d;
  top: 23%;
  right: 0;
  position: fixed;
  width: 30px;
  height: 30px;
  z-index: 2;
  text-align: center;
  padding: 4px 0;
  font-size: 16px;
}
@media (min-width: 768px) {
  .left-menu-btn {
    display: none;
  }
}
.cart-row {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.cart-row__chk-input {
  display: none;
}
.cart-row__chk-label {
  float: left;
  position: relative;
  font-size: 22px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .cart-row__chk-label {
    font-size: 30px;
    margin: 0 12px 0 0;
    width: 30px;
    height: 30px;
  }
}
.cart-row__info {
  color: #005b9d;
  float: left;
  font-size: 24px;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.cart-row__info i {
  position: absolute;
  bottom: -2px;
}
@media (min-width: 768px) {
  .cart-row__info i {
    bottom: 3px;
  }
}
@media (min-width: 768px) {
  .cart-row__info {
    margin: 0 16px;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}
.cart-row__plus {
  color: #005b9d;
  float: left;
  font-size: 24px;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
@media (min-width: 768px) {
  .cart-row__plus {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
}
@media (min-width: 1200px) {
  .cart-row__plus {
    margin: 0 16px;
  }
}
.cart-row__plus i {
  position: absolute;
  bottom: -2px;
}
@media (min-width: 768px) {
  .cart-row__plus i {
    bottom: 3px;
  }
}
.cart-row__cross {
  color: #005b9d;
  float: left;
  font-size: 24px;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
}
@media (min-width: 768px) {
  .cart-row__cross {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 0 0 26px;
  }
}
@media (min-width: 1200px) {
  .cart-row__cross {
    margin: 0 0 0 31px;
  }
}
.cart-row__cross i {
  position: absolute;
  bottom: -2px;
}
@media (min-width: 768px) {
  .cart-row__cross i {
    bottom: 3px;
  }
}
.cart-row__name {
  display: inline-block;
  float: left;
  margin-right: 0px;
  width: 50%;
}
@media (min-width: 768px) {
  .cart-row__name {
    font-size: 16px;
    margin-right: 20px;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .cart-row__name {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .cart-row__name {
    width: 68%;
  }
}
.cart-row__price {
  font-family: 'Open Sans';
  display: inline-block;
  float: left;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .cart-row__price {
    font-size: 18px;
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .cart-row__price {
    margin-left: 15px;
  }
}
.cart-row__pull-right {
  float: right;
}
.cart-row__chk-input + .cart-row__chk-label:before {
  bottom: -6px;
  color: #005b9d;
  cursor: pointer;
  content: '\f096';
  font-family: 'FontAwesome';
  position: absolute;
}
@media (min-width: 768px) {
  .cart-row__chk-input + .cart-row__chk-label:before {
    bottom: -3px;
  }
}
.cart-row__chk-input:checked + .cart-row__chk-label:before {
  content: '\f046';
}
.cart {
  padding-bottom: 140px;
}
.cart__title {
  float: left;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 300;
  margin: 1.4em 0 0.6em;
  width: 100%;
}
@media (min-width: 768px) {
  .cart__title {
    font-size: 40px;
  }
}
.cart-form__input {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #707070;
  display: block;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  height: 27px;
  padding: 0 20px;
  outline: none;
}
.cart-form__input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.cart-form__input + .cart-form__input {
  margin: 20px 0;
}
.cart-form__input:first-child {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .cart-form__input {
    font-size: 18px;
    width: 383px;
    height: 33px;
  }
}
.cart-form__agreement {
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #000;
  display: block;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  height: 142px;
  padding: 0 20px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .cart-form__agreement {
    font-size: 14px;
    width: 669px;
  }
}
.cart-form__agreement h3 {
  text-align: center;
}
.cart-form__link {
  color: #000 !important;
  display: block;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
}
.cart-form__span {
  font-size: 14px;
  font-family: "Segoe UI";
  display: block;
  margin: 15px 0 20px;
}
.cart-form__wrap {
  float: left;
}
.cart-form__wrap .cart-row__chk-label {
  font-size: 20px;
  width: 18px;
  margin: 0 5px 0 0;
}
.cart-form__wrap .cart-row__chk-label:before {
  bottom: 1px;
}
.cart-pay {
  float: left;
  margin: 0;
}
.cart-pay__row {
  width: 100%;
  margin: 7px 0;
}
.cart-pay__radio-input {
  display: none;
}
.cart-pay__radio-label {
  position: relative;
  width: 18px;
  margin: 0;
}
.cart-pay__radio-input + .cart-pay__radio-label:before {
  border: 2px solid #474747;
  border-radius: 50%;
  bottom: -6px;
  color: #005b9d;
  cursor: pointer;
  content: '';
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
}
@media (min-width: 768px) {
  .cart-pay__radio-input + .cart-pay__radio-label:before {
    bottom: -3px;
  }
}
.cart-pay__radio-input:checked + .cart-pay__radio-label:before {
  background: #005b9d;
}
.cart-pay__name {
  color: #474747;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .cart-pay__name {
    font-size: 18px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 10;
}
.modal-info {
  border-radius: 20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.43);
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  z-index: 11;
  width: 75%;
}
@media (min-width: 768px) {
  .modal-info {
    top: 12%;
  }
}
@media (min-width: 992px) {
  .modal-info {
    width: 940px;
  }
}
.modal-info__btn {
  background: #005b9d;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
  outline: none;
  width: 100%;
  height: 36px;
  padding: 0px 0 5px;
  margin: 15px 0 0;
}
@media (min-width: 768px) {
  .modal-info__btn {
    height: 41px;
    margin: 45px 0 0;
    width: 85%;
  }
}
@media (min-width: 992px) {
  .modal-info__btn {
    font-size: 24px;
    width: 268px;
    height: 41px;
  }
}
.modal-info__close {
  background: #fff;
  border-radius: 50%;
  color: #005b9d;
  display: block;
  font-size: 19px;
  height: 33px;
  position: absolute;
  line-height: 34px;
  text-align: center;
  text-decoration: none !important;
  right: -38px;
  width: 33px;
}
.modal-info__col {
  float: left;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .modal-info__col {
    width: 50%;
  }
}
.modal-info__content {
  padding: 0 5px;
}
@media (min-width: 768px) {
  .modal-info__content {
    padding: 0 25px;
  }
}
@media (min-width: 992px) {
  .modal-info__content {
    padding: 0 45px;
  }
}
.modal-info__cost {
  border-top: 2px solid #005b9d;
  float: left;
  width: 100%;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .modal-info__cost {
    width: 85%;
  }
}
.modal-info__header {
  background: #005b9d;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
  padding: 0.2em 0 0.3em;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-info__header {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .modal-info__header {
    font-size: 40px;
  }
}
.modal-info__img {
  display: block;
  width: 80%;
  margin: auto;
}
@media (min-width: 768px) {
  .modal-info__img {
    width: 100%;
  }
}
.modal-info__price {
  color: #005b9d;
  display: block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .modal-info__price {
    font-size: 16px;
    margin-top: 20px;
  }
}
.modal-info__text {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  float: left;
  width: 100%;
  height: 220px;
  overflow-y: scroll;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .modal-info__text {
    font-size: 18px;
    margin-top: 10px;
  }
}
.modal-info__title {
  color: #005b9d;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0.8em 0 1em;
}
@media (min-width: 992px) {
  .modal-info__title {
    font-size: 18px;
  }
}
.main-text {
  margin: 20px 0px;
}
.modal-header {
  background: #005b9d;
  color: #fff;
}
.modal-header .close {
  background: #fff;
  border-radius: 50%;
  color: #005b9d;
  opacity: 1;
  font-size: 19px;
  width: 33px;
  height: 33px;
  outline: none;
}
.modal-title {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
}
.modal-body .ask-form__wrap {
  margin: 15px auto;
}

/*# sourceMappingURL=style.css.map */